<form [formGroup]="formConfig.form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="content-line">
        <div class="content-line__content">
            <div class="validated-input">
                <input 
                    class="form-control" 
                    name="keyword" 
                    type="text" 
                    formControlName="textField" 
                    appAutofocus 
                    [appOnKeyup]="27" 
                    (keyupDetected)="onCancel()"
                    [placeholder]="formConfig.placeholder"
                />
            </div>
        </div>
        <div class="content-line__actions">
            <button type="button" 
                    (click)="onCancel()" 
                    class="btn btn-default" 
                    ngbTooltip="Cancel" 
                    placement="top">
                <i class="fas fa-times"></i>
            </button>

            <button class="btn btn-primary" 
                    type="submit" 
                    [disabled]="!formConfig.form.valid"
                    ngbTooltip="Submit" 
                    placement="top">
                <i *ngIf="!formConfig.saving" class="fas fa-check"></i>
                <i *ngIf="formConfig.saving" class="fas fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>
    <div class="notices expand">
        <div *ngIf="formConfig.form.pending" class="validation-notice">
            <i class="validation-spinner fas fa-spinner fa-spin"></i>
            <em class="text-muted"> Validating...</em>
        </div>

        <div class="validation-error text-danger" *ngIf="getErrors(formConfig)">
            <div *ngFor="let error of getErrors(formConfig).custom">
                {{ error.message }}
                <div *ngIf="error.type === 'conflict'">
                    <a [href]="error.conflictingEntityLink">{{ error.conflictingEntityName }}</a>
                </div>
            </div>
        </div>
    </div>
</form>