@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes expand {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

.fade-in {
    animation: fadein 0.4s;
}

.expand {
    animation: expand .3s;
}