.page-wrapper {
    margin-top: 5vh;
}

.content-line {
    display: flex;
    align-items: center;
}

.content-line__content {
    flex-grow: 1;
}

.content-line__actions {
    .btn-link:hover {
        background: #dde;
    }
}