<section>
    <div class="card building-address-card">
        <div class="card-header">
            Address
        </div>
        <div class="card-body">
            {{ building?.address }} 
        </div>
    </div>            
</section>

<section>
    <div class="card">
        <div class="card-header">
            Description
        </div>

        <div class="card-body building-description">{{ building?.description }}</div>
    </div>
</section>
