@import '../../../styles/variables_and_mixins';

.keyword-display {
    margin-left: 13px;
}

.new-keyword-form {
    margin-bottom: 10px;
}

.new-keyword-form-wrapper {
    padding: 0 20px;
    transition: padding-top 0.2s ease-in-out;
}

.new-keyword-form-wrapper--active {
    padding: 20px 20px 0 20px;
}

.deletion-list,
.btn-undo {
    font-size: $font-size-sm;
}

.btn-undo {
    padding: 0;
}

.deleted-item {
    font-size: $font-size-sm;
    padding-top:4px;
    padding-bottom:4px;
    margin: 10px 0;
}

.keyword-list-item {
    transition: padding-top 0.2s ease-in-out;

    &--active {
        padding-top: 30px;
    }
}

.keyword-empty-state {
    width: 60%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
}
