<div class="new-keyword-form">
    <div class="content-line">
        <div class="content-line__content">
            <h3>
                {{ config.editorTitle }}
            </h3>
        </div>
        <div class="content-line__actions">
            <button [disabled]="newKeywordFormConfig.inEditMode" 
                    class="btn btn-primary pull-right" 
                    (click)="toggleNewKeywordForm()">
                {{ config.newButtonText }}
            </button>
        </div>
    </div>
    
    <div class="new-keyword-form-wrapper" [ngClass]="{ 'new-keyword-form-wrapper--active': newKeywordFormConfig.inEditMode }">
        <app-inline-text-form
            *ngIf="newKeywordFormConfig.inEditMode"
            [formConfig]="newKeywordFormConfig"
            (formSubmit)="addNewKeyword($event)"
            (formCancel)="toggleNewKeywordForm()"
        ></app-inline-text-form>
    </div>
</div>
<ul class="list-group">
    <li *ngFor="let config of keywordForms; let i = index" 
        class="list-group-item keyword-list-item" 
        [ngClass]="{ 'keyword-list-item--active': config.inEditMode }">
        <div *ngIf="!config.inEditMode" class="content-line">
            <div class="content-line__content">
                <span class="keyword-display">{{ config.form.controls.textField.value }}</span>
            </div>

            <div class="content-line__actions">
                <button (click)="toggle(i)" class="btn btn-link text-info" ngbTooltip="Edit" placement="top">
                    <i class="fas fa-pen"></i>
                </button>
                <button (click)="delete(i)" class="text-danger btn btn-link" ngbTooltip="Delete" placement="top">
                    <i *ngIf="!config.deleting" class="fas fa-trash-alt"></i>
                    <i *ngIf="config.deleting" class="fas fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>

        <app-inline-text-form
            *ngIf="config.inEditMode"
            [formConfig]="config"
            (formSubmit)="updateKeyword(i, $event)"
            (formCancel)="toggle(i)"
        ></app-inline-text-form>
    </li>
</ul>

<div *ngIf="!keywordForms?.length" class="card">
    <div class="keyword-empty-state">
        {{ config.emptyStateText }}
    </div>
</div>

<ul class="deletion-list list-unstyled">
    <li *ngFor="let deletion of latestDeletions" class="alert alert-danger deleted-item fade-in">
        <span>
            Deleted "{{ deletion.keyword }}"
        </span>
        (<button (click)="undoDeletion(deletion)" class="btn btn-link btn-undo">
            undo
            <i *ngIf="deletion.undoInProgress" class="fas fa-spinner fa-spin"></i>
        </button>)
    </li>
</ul>
