<div class="row">
    <div class="col-md-4">
        <app-building-details [building]="building"></app-building-details>
    </div>

    <div class="col-md-8">
        <app-keyword-editor 
            [keywords]="building.nicknames"
            [validationCallback]="validateNickname"
            [saveCallback]="saveNicknames"
            [config]="nicknameEditorConfig"
        ></app-keyword-editor>
    </div>
</div>

